* {
  box-sizing: border-box;
}
:root {
  --pmc: #005ae2;
  --font-type: Gilroy-medium;
  --bgc: #f5f5f5;
  --pos: center;
  --posit: relative;
  --fwrap: wrap;
  --flex: flex;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-type);
  background-color: var(--bgc);
}
a {
  text-decoration: none;
  color: #000;
}
.layout > header nav > ul {
  list-style: none;
  display: var(--flex);
  flex-wrap: var(--fwrap);
  padding: 0;
  margin: 0;
  font-size: 18px;
  align-items: var(--pos);
  justify-content: space-evenly;
}

.layout > header.logo {
  grid-area: logo;
}
.layout > header.nav {
  grid-area: nav;
}
.layout > header.nav-2 {
  grid-area: nav-2;
}

.layout > header > div.logo > a.logo-link > img.sciss {
  position: var(--posit);
  bottom: 5px;
}
.try-button {
  border: 1px solid var(--pmc);
  border-radius: 20px;
  color: #fff;
  background-color: var(--pmc);
  padding: 5px 5px;
  font-size: 16px;
}
#features {
  border: none;
  background-color: var(--bgc);
}

.layout > header {
  display: grid;
  padding-top: 1%;
  padding-right: 5%;
  padding-left: 10%;
  grid-template-areas: "logo nav nav-2";
}
p.optimize {
  text-align: var(--pos);
  font-size: 48px;
  font-weight: 600;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
}
.layout > main > section > p.personalize {
  font-size: 18px;
  margin-left: 22%;
  margin-right: 22%;
  text-align: var(--pos);
}
.layout > main > section > div.image,
.layout > main > section > div.closure,
.layout > main > section > div.center-img {
  display: var(--flex);
  flex-wrap: var(--fwrap);
  justify-content: var(--pos);
  align-items: var(--pos);
}
.layout > main > section > div.image {
  position: var(--posit);
  top: -55px;
  right: -10px;
}
.layout > main > section > div.closure {
  gap: 50px;
  padding-top: 30px;
}
.layout > main > section > div.center-img > img.frame {
  width: 65%;
}
.layout > main > section > div.center-img > img.oval {
  width: 100%;
}

.layout > main > section > div.center-img > img.frame {
  margin-top: 5%;
}

.layout > main > section > div.up-content {
  display: grid;
  grid-template-areas: "one-stop m-3 m-60 b-1 k-300";
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f8f7f7;
}
.layout > main > section > div.up-content > p.one-stop {
  grid-area: one-stop;
}
.layout > main > section > div.up-content > p.m-3 {
  grid-area: m-3;
}
.layout > main > section > div.up-content > p.m-60 {
  grid-area: m-60;
}
.layout > main > section > div.up-content > p.b-1 {
  grid-area: b-1;
}
.layout > main > section > div.up-content > p.k-300 {
  grid-area: k-300;
}

.layout > main > section > div.up-content > p.one-stop > span,
.layout > main > section > div.down-content > p.sciss-hub > span,
.layout > main > section > div.perfect > p.price-perfect > b {
  font-size: 35px;
  font-weight: 900;
}
.layout > main > section > div.up-content > p > span,
.layout > main > section > div.down-content > p > span {
  font-size: 18px;
  font-weight: 600;
}
.layout > main > section > div.down-content > p.url-short > span,
.layout > main > section > div.down-content > p.custom-url > span,
.layout > main > section > div.down-content > p.qr-codes > span,
.layout > main > section > div.down-content > p.data-analytics > span {
  display: grid;
}
.layout > main > section > div.down-content {
  display: grid;
  gap: 40px;
  grid-template-areas:
    "scisss-hub url-short custom-url"
    "- qr-codes data-analytics";
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}
.layout > main > section > div.down-content > p.scisss-hub {
  grid-area: scisss-hub;
}
.layout > main > section > div.down-content > p.url-short {
  grid-area: url-short;
}
.layout > main > section > div.down-content > p.custom-url {
  grid-area: custom-url;
}
.layout > main > section > div.down-content > p.qr-codes {
  grid-area: qr-codes;
}
.layout > main > section > div.down-content > p.data-analytics {
  grid-area: data-analytics;
}
.layout > main > section > div.down-content > p.url-short > img,
.layout > main > section > div.down-content > p.custom-url > img,
.layout > main > section > div.down-content > p.qr-codes > img,
.layout > main > section > div.down-content > p.data-analytics > img {  
  display: grid;
  padding-bottom: 30px;

}
.layout > main > section > div.down-content > p.sciss-hub > img {
  display: flex;
  position: relative;
  left: -5%;
  bottom: -18%;
}
.layout > main > section > div.down-content > p.sciss-hub{
  position: relative;
  top: -15%;
}
.layout > main > section > div.perfect > p.price-perfect {
  font-size: 13px;
  margin-left: 22%;
  margin-right: 22%;
  text-align: var(--pos);
  padding-top: 5%;
}
.layout > main > section > div.perfect > p.price-perfect > b {
  position: relative;
  top: -15px;
  right: -10px;
}
.layout > main > section > div.three-columns  div.professional > ul,
.layout > main > section > div.three-columns  div.basic > ul,
.layout > main > section > div.three-columns  div.teams > ul {
  list-style: none;
  font-size: 14px;
  display: grid;
  gap: 24px;
  position: relative;
  right: 30px;
}
.layout > main > section > div.three-columns  div.professional > ul > li > img,
.layout > main > section > div.three-columns  div.basic > ul > li > img,
.layout > main > section > div.three-columns  div.teams > ul > li > img {
  position: relative;
  right: 10px;
  top: 3px;
}
.layout > main > section > div.three-columns {
  display: grid;
  grid-template-areas: "basic professional teams";
  padding-top: 5%;
  padding-left: 3%;
}
.layout > main > section > div.three-columns > div.basic {
  grid-area: basic;
  border: 1px solid #005AE2;
  border-radius: 12px;
  padding-left: 15%;
  padding-top: 5%;
  position: relative;
  left: 120px;
  top: 80px;
}
.layout > main > section > div.three-columns > div.basic,
.layout > main > section > div.three-columns > div.teams {
  width: 420px;
  height: 455px;
  z-index: -1;
}
.layout > main > section > div.three-columns > div.professional {
  grid-area: professional;
  border: 50px solid #1E3448;
  border-radius: 12px;
  width: 350px;
  height: 627px;
  background-color: #1E3448;
  color: #fff;
  padding-top: 10%;
}
.layout > main > section > div.three-columns > div.teams {
  grid-area: teams;
  border: 1px solid #005AE2;
  border-radius: 12px;
  padding-left: 30%;
  padding-top: 5%;
  position: relative;
  right: 120px;
  top: 80px;
}
.layout > main > section > div.three-columns > div.professional > p.prof,
.layout > main > section > div.three-columns > div.basic > p.base,
.layout > main > section > div.three-columns > div.teams > p.tee {
  font-size: 24px;
}
.layout > main > section > div.three-columns > div.professional > p > b,
.layout > main > section > div.three-columns > div.basic > p > b,
.layout > main > section > div.three-columns > div.teams > p > b {
  font-size: 48px;
}
.layout > main > section > div.three-columns > div.professional > p.ideal,
.layout > main > section > div.three-columns > div.basic > p.free,
.layout > main > section > div.three-columns > div.teams > p.share {
  font-size: 20px;
}