* {
  box-sizing: border-box;
}
:root{
  --pmc: #005ae2;
  --font-type: Gilroy-medium;
  --bgc: #f5f5f5;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 1% 1% 0 10%;
  font-family: var(--font-type);
  background-color: var(--bgc);
}
a {
  text-decoration: none;
  color: #000;
}
ul.nav, ul.nav-2 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size: 18px;
  align-items: center;
  justify-content: space-evenly;
}

.header{
  display: grid;
  grid-template-areas: "logo nav nav-2";
}
.header__logo{
  grid-area: logo;
}
.header__nav{
  grid-area: nav;
}
.header__nav-2{
  grid-area: nav-2;
}

.sciss {
  position: relative;
  bottom: 5px;
}
.try-button {
  border: 1px solid var(--pmc);
  border-radius: 20px;
  color: #fff;
  background-color: var(--pmc);
  padding: 5px 5px;
  font-size: 16px;
}
#features {
  border: none;
  background-color: var(--bgc);
}